{% extends "admin.html" %}
{% block title %}
    <div id="ap-selector">
        <div id="ap-selector-list">
            <ul class="nav-ul">
                <a href="/admin/add/agencies"><li class="selector">Ceļojumu aģentūras</li></a>
                <li class="selector" id="selected">Ceļojamās valstis</li>
                <a href="/admin/add/trips"><li class="selector">Pieejamie ceļojumi</li></a>
            </ul>
        </div>
        <div id="ap-selector-display">  
            <h2 class="subtitle">Ceļojamās valstis</h2>
            <form method="POST" action="{{ url_for('admin_add_country') }}">
                {{ form.country.label }}
                {{ form.country }}
                <br/>
                {{ form.abbreviation.label }}
                {{ form.abbreviation }}
                <div id="ap-selector-footer">
                    <input class="ap-list-submit" type="submit" value="Pievienot" />
                </div>

                {{ form.csrf_token }}
            </form>
        </div>
    </div>
{% endblock %}