{% extends "admin.html" %}

{% block title %}Automabīļu pārvalde{% endblock %}

{% block content %}
<div class="navigation-bar">
    <a href="/profile">Profils</a>
    <a href="/admin">Vadības panelis</a>
    <a href="/logout">Iziet</a>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == "success" %}
                <h4 class="success">{{ message }}</h4>
            {% else %}
                <h4 class="error">{{ message }}</h4>
            {% endif %}    
        {% endfor %}
    {% endif %}
{% endwith %}

<h1>Autonomašīnas: </h1>
<div class="list-container">
    {% for car in cars %}
        <div class="list-element">
            <h2>Marka: {{ car.manufacture }}</h2></a>
            <h3>Modelis: {{ car.model }}</h3>
            <h3>Klase: {{ car.classifications }}</h3>
            <h3>Gads: {{ car.year }}</h3>
            <h3>Numurs: {{ car.number_plate }}</h3>
            <h3>Stundas likme: {{ car.hourly_rate }}</h3>
            <a href="/admin/rental_point_detail_edit/{{ car.id }}"><button>Rediģēt</button></a>
            <a href="/admin/rental_point_car/delete/{{ car.rental_point_id }}/{{ car.id }}"><button>Dzēst</button></a>
        </div>
    {% endfor %}
</div>

{% endblock %}