@import url(https://fonts.googleapis.com/css?family=Thasadith&display=swap);
@import url(https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap);

*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Roboto', sans-serif;
    color:#575757;
}
a {
    color: inherit;
    text-decoration: inherit;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 400;
}

p {
    font-weight: 200;
}
#logo {
    margin-top: 15px;
    margin-left: 1%;
}

#title{
    margin-left: 1%;
    vertical-align: text-bottom;
    font-weight: normal;
    font-size: 32px;
    line-height: 90px;
}
header{
    position: relative;
    display:flex;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #ADADAD;
    justify-content: center;
    box-shadow: 1px 1px 20px rgb(124, 124, 124);
    padding-bottom: 1%;
}

#number{
    line-height: 90px;
    text-align:right;
    margin-left:auto;
    margin-right: 30px;
    font-size: 16px;
}

#login{
    margin-top: 23px;
    height:42px;
    width:138px;
    margin-right:5%;
    border-radius: 3px;
    border:none;
    color: white;
    background-color: #0070D8;
    cursor: pointer;
}
.button-text {
    line-height: 42px;
    font-weight: normal !important;
    font-size: 24px !important;
    color: inherit !important;
}

#pages {
    margin-left: 40px;
    margin-top: 15px;
    font-family: Thasadith;
    font-weight: bold;
    color: #3175c2;
    font-size: 15px;
    margin-bottom: 15px;
}

a:visited, a:link {
  text-decoration: none;
  font-family: Thasadith;
  font-weight: bold;
  color: #3175c2;
  font-size: 15px;
}

a:hover, a:active {
  font-family: Thasadith;
  font-weight: bold;
  color: #3175c2;
  font-size: 15px;
}

#background {
    position: fixed;
    background-image: url(../images/background.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#searchPage2 {
    display: flex;
    background-color: rgb(73, 158, 255);
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 15px;
    border-radius: 16px;
}

#searchPage {
    display: flex;
    background-color: rgb(73, 158, 255);
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 16px;
    margin-top: 83.5px;
}

#search-button {
    height: 35px;
    width: 90px;
    border-radius: 3px;
    font-size: 17px;
    font-weight: initial;
    border:none;
    color: white;
    background-color: #0070D8;
    margin-left: 15px;
    cursor: pointer;
}

#input1 {
    border-radius: 13px;
    width: 320px;
    outline: none;
    border-style: none;
    text-indent: 10px;
}

#input2 {
    border-radius: 13px;
    outline: none;
    width: 120px;
    margin-left: 15px;
    border-style: none;
    text-indent: 10px;
}

#travelPanel {
    background-color: white;
    display: flex;
    height: 180px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    margin-top: 15px;
    border-color: rgb(230, 230, 230);
    border-width: 2px;
}

#travelImage { 
    height: 180px;
    width: 180px;
    object-fit: cover;
    
}

#travelText {
    margin-left: 15px;
    width: 250px;
}

#search_bar_back {
    background-image: url(../images/search_bar_back_main.png);
    background-repeat: no-repeat;
    height:222px;
    width: 100%;
    margin:none;
    text-align:center;
    background-position:50%;
    background-size:scale;
    overflow: hidden;
}
.sub_title {
    margin: 30px;
}
#travel_list_flexbox{
    display: flex;
    justify-content: center;
    margin:50px;
    width:auto;
}
.trip {
    margin:auto;
}
.travel_list_title {
    text-align: center;
}
.trip_img {
    width: 300px;
    height: 250px;
}
#rezervet {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    text-align: right;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 250px;
}
#profile {
    background-color: #F4F4F4;
    width: 650px;
    height: 163px;
    margin-top: 47px;
    margin-left: 100px;
}
#informacija {
    margin-left: 18px;
    padding-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    text-align: left;

    color: #000000;
}
#personiga-informacija {
    margin-left: 18px;
    margin-top: 18px;
    margin-right: 100px;
    font-style: normal;
    font-size: 12px;

    color: #000000;
}
#mainit{
    margin-top: 70px;
    margin-right: 10px;
    margin-left: 300px;
    height: 42px;
    width:  138px;
    border-radius: 16px;
    border:none;
    color: white;
    background-color: #0070D8;
}
#atcelt{
    margin-top: 150px;
    margin-right: 10px;
    margin-left: 435px;
    height: 42px;
    width:  138px;
    border-radius: 16px;
    border:none;
    color: white;
    background-color: #0070D8;
}
#informacija-mainit {
    display: inline-flex;
    justify-content: flex-end;
}
#rezervetie-celojumi {
    margin-left: 250px;
    width: 800px;
    height: 725px;
    background: #F4F4F4;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 7px;
}
.DivToScroll{   
    background-color: #939393;
    border: none;
    border-radius: 35px;
    color: #939393;
    left: -1px;
    padding: 10px 7px 5px;
}
.DivWithScroll{
    height:120px;
    overflow: scroll;
    overflow-x: hidden;
}
#celojumi {
    margin-top: 15px;
    margin-left: 7px;
    width: 725px;
    height: 202px;
    background: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
}
.box-text {
    font-family: Thasadith;
    font-weight: lighter;
    font-size: 24px;
    margin-top: 1px;
}
#profile-content {
    display: inline-flex;
    justify-content: flex-end;
}
#celojuma-informacija {
    margin-left: 15px;
}
#celojuma-atcelt {
    display: inline-flex;
}
#pievienot {
    margin-bottom: 5px;
    width: 135px;
    height: 42px;
    border-radius: 0;
    border: none;
    background-color: #C4C4C4;
}
#admin-teksts-1{
    font-style: normal;
    font-weight: normal;
    margin-left: 160px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
#admin-teksts-2{
    font-style: normal;
    font-weight: normal;
    margin-left: 115px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
#admin-teksts-3{
    font-style: normal;
    font-weight: normal;
    margin-left: 160px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
#admin-box {
    width: 660px;
    height: 328px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}
#admin {
    display: inline-flex;
    justify-content: center;
    flex-direction: wrap;
}
#admin-info {
    flex-wrap: wrap;
    align-items: center;
}
#specific-box {
    flex-direction: column;
}
#whole-box {
    margin-left: 180px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
}
#whole-box-bottom {
    margin-left: 590px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
}
#admin-upper {
    display: flex;
    margin-top: 35px;
}
#admin-upper-bottom {
    display: flex;
    margin-top: 20px;
}
#log-in-panel {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 45%;
  top: 30%;
  width: 10%;
  height: 300px;
  background-color: white;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: 1px;
  border-radius: 40px;
  z-index: 3;
}
#log-in-input1 {
  background-color: #EDEDED;
  width: 160px;
  height: 40px;
  border-radius: 15px;
  border: none;
  margin-top: 20px;
  text-indent: 10px;
}
#log-in-input2 {
  background-color: #EDEDED;
  width: 160px;
  height: 40px;
  border-radius: 15px;
  border: none;
  margin-top: 20px;
  text-indent: 10px;
}
#cancel {
  align-self: flex-end;
  background: #0070D8;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 12px;
  margin-left: 50px;
}

/* Admin Page front-end */
#admin-page-content {
    height:80%;
}
#ap-selector {
    display: flex;
    flex-direction: row;

    margin-top:30px;
    margin-left:50px;
    margin-right:50px;

    width: auto;
}
#ap-selector-list {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #dadada;
}
#ap-selector-display {
    width: 80%;
    margin-left: 1%;
    background-color: whitesmoke;
}
.nav-ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-ul li {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    background-color: #dadada;
    color:#292929;
}

#selected {
    background-color: #008cba;
    color:white;
    cursor: default;
}

.nav-ul li:not(#selected):hover {
    background-color: dimgray;
    cursor: pointer;
    color: white;
}

#ap-selector-display-title {
    margin: 5px;
}
#selector > a:visited, #selector > a:link, #selector > a:active {
    color:#292929;
    text-decoration: none;
}
.subtitle {
    margin: 10px;
}
#ap-selector-display-list {
    margin:10px;
    background-color: whitesmoke;
    overflow: auto;
    min-height: 400px;
    max-height: 600px;
}
#ap-description {
    text-align: center;
    padding-top: 20px;
}
.list-ul {
    margin: 0;
    padding: 20px;
    font-size: 18px;
    list-style: none;
    width:50%;
}

.ap-list-member {
    display: flex;
    flex-direction: row;
    background-color: rgb(235, 235, 235);
    max-height: 150px;
    margin-bottom: 1%;
}

.ap-list-control {
    line-height: 30px;
    font-size: 20px;
    margin-top: 35px;
    height: 30px;
    margin-bottom: 35px;
    margin-right: 15px;
    width:120px;
    text-align: center;
    background-color: tomato;
}
.correct {
    margin-left: auto;
}
.ap-list-add {
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    height: 30px;
    width:120px;
    text-align: center;
    background-color:#008cba;
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-left:auto;
}
.ap-list-submit {
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    height: 30px;
    width:120px;
    text-align: center;
    background-color:#008cba;
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-left:auto;
    border: none;
    font-family: Thasadith;
    cursor: pointer;
}
#ap-selector-footer {
    height: 40px;
    background-color: #dadada;
    display:flex;
}

/* No style_main.css */
body{
    background-image: linear-gradient(aliceblue, white);
    background-repeat: no-repeat;
}

#body-wrap{
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(aliceblue, white);
    background-repeat: no-repeat;
    max-width: 1919px;
}

#search-page {
    display: flex;
    background-color: rgb(73, 158, 255);
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 3px;
}

.catalogue-search-page {
    display: flex;
    background-color: rgb(73, 158, 255);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    align-items: flex-end;
}

.catalogue-search-page > div {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.catalogue-search-page > div > p {
    color: white;
}

.catalogue-search-page > div > div {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    gap: 5%;
    margin-top: 1%;
    height: 40px;
    color: white;
    align-items: center;
}

.catalogue-search-page > div > div > select, .catalogue-search-page > div > div > input {
    border-radius: 5px;
    outline: none;
    border: 2px solid #dfdfdf;
    color: #757575;
    height: 30px;
    padding-left: 1%;
    font-family: 'Roboto', sans-serif;
    width: 150px;
    cursor: pointer;
}

.catalogue-search-page > div > div > select {
    height: 35px;
}

.catalogue-search-page > div > div > input::placeholder {
    color: #c1c2c4;
}

.catalogue-search-page  > button {
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #0070D8;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    width: 15%;
    height: 40px;
    cursor: pointer;
}

#search-bar-back {
    display: flex;
    align-items: center;
    background-image: url(../images/search_bar_back_main.png);
    background-repeat: no-repeat;
    height: 222px;
    background-position: 50%;
    z-index: -4;
    box-shadow: inset 0px -30px 20px -30px #000000;
}

.one-pixel-search-back {
    margin-left: -1px
}

.sub-title {
    margin: 30px;
}
#travel-list-flexbox{
    display: flex;
    justify-content: center;
    margin:50px;
    width:auto;
    max-width: 1919px;
}
.trip {
    margin:auto;
    margin-left:10px;
    margin-right:10px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    position: relative;
    z-index: 1;
}
.travel-list-title {
    text-align: center;
}
.trip-img {
    width: 100%;
    height: 100%;
}
.trip:hover {
    transform:scale(1.03, 1.03);
    cursor:pointer;
}
#about-us {
    text-align: center;
    margin-top: 30px;
}
.about-us-desc {
    font-size: 28px;
    margin-left: 10%;
    margin-right:10%;
}
#move-to-destinations {
    height:42px;
    width:138px;
    border-radius: 16px;
    margin-top: 20px;
    border:none;
    color: white;
    background-color: #0070D8;
    cursor: pointer;
}
#guarantee-list-flexbox{
    display: flex;
    justify-content: center;
    text-align:center;
    margin:50px;
    margin-top: 50px;
}
#guarantee-list-flexbox div{
    width:450px;
    margin:auto;
}
#guarantee-list-flexbox div p{
    font-size: 24px;
}
#guarantee-list-flexbox div img {
    width:150px;
    height:150px;
}
.trip-header {
    height: 28px;
    margin-bottom: -28px;
    z-index: 2;
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    font-size: 20px;
    color: white;
    align-items: center;
}
.trip-header-views {
    margin-left: auto;
    padding-right:10px;
    font-size: 16px;
    line-height: 16px;
}
footer {
    height: 30px;
    text-align: center;
    border-top: 1px solid #ADADAD;
    font-size: 14px;
    background-color:aliceblue;
    margin-top:auto;
}
#cancel {
  align-self: flex-end;
  background: #0070D8;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 12px;
  margin-left: 50px;
}

#catalogue-list {
    background-color: #F4F4F4;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.catalogue-list-element {
    background-color: white;
    color:black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 1%;
    border-radius: 10px;
    gap: 2%;
    margin: 1%;
    width: 60%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: auto;
    margin-right: auto;
}
.catalogue-list-element-img {
    width: 170px;
    height: 150px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.catalogue-list-element-text {
    width: 70%;
}
.reserve-button {
    height: 35px;
    width: 120px;
    border-radius: 16px;
    font-size: 17px;
    border:none;
    color: white;
    background-color: #0070D8;
    margin-top: auto;
}