<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/stylesheet.css') }}">
    <script src="../static/js/adminScript.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Thasadith&display=swap" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <header>
        <img id="logo" src="{{ url_for('static', filename = 'images/png.png') }}" width="90" height="90" />
        <h1 id="title">Travely Administrācija</h1>
        <h1 id="number">+371 29749980</h1>
        <button id="login"><span class="button-text">LOG IN</span></button>
    </header>

    {% block title %}
    <h1>404</h1>
    {% endblock %}
</body>
</html>