<!DOCTYPE html>
<html lang="lv">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <title>{% block title %}Karliku AutoNoma{% endblock %}</title>
    <link rel="Icon" href="/static/img/logo_mazais.png">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
</head>

<body>

    <img class="logo" src="/static/img/lielaisLogo.png">
    {% block content %}
        <div class="navigation-bar">
            <a href="/about_us">Par Mums!</a>
            {% if session['user'] %}
                <a href="/profile">Profils</a>
            {% else %}
                <a href="/login">Pieslēgties</a>
            {% endif %}
        </div>
      
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h4 class="error">{{ message }}</h4>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div id="poga">
            <button id=jaunaNoma>Nomāt Automašīnu</button>
        </div>

        <div id="lodzinjs" class="form-box">
            <form onsubmit="event.preventDefault();" class="form" id="form">
                <h3 class="h3Krasa">Meklēt automašīnu!</h3>
                <select id="rental_points" name="rental_point">
                    <option value="">Izvēlieties nomas punktu</option>
                    {% for rental_point in rental_points %}
                        <option value="{{ rental_point.id }}" >{{ rental_point.title }}</option>
                    {% endfor %}
                </select>
                <select onchange="set_models_by_manufacture()" id="manufactures" name="manufacture">
                    <option value="">Izvēlieties automašīnu</option>
                    {% for manufacture in cars_manufactures %}
                        <option value="{{ manufacture }}" >{{ manufacture }}</option>
                    {% endfor %}
                </select>
                <select id="models" name="model">
                    <option value="">Izvēlieties modeli</option>
                </select>
                <div class="date-box">
                    <div>
                        <label for="from_date">No:</label><input id="from_date" type="date" name="from_date">
                    </div>
                    <div>
                        <input id="no" type="time" value="00:00" required>
                    </div>
                    <div>
                        <label for="to_date">Līdz:</label><input id="to_date" type="date" name="to_date">
                    </div>
                    <div>
                        <input id="lidz" type="time" value="00:00" required>
                    </div>
                </div>
                <button id="PrecesPoga">Meklēt</button>
            </form>
        </div>
        <div class="list-container"></div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="/static/js/autoNoma.js"></script>
        <script src="/static/js/rental_point_filter.js"></script>
    {% endblock %}
</body>

</html>