<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <link rel="Icon" href="static/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Thasadith&display=swap" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <header>
        <img id="logo" src="static/images/png.png" width="90" height="90" />
        <h1 id="title">Travely</h1>
        <h1 id="number">+371 29749980</h1>
        <button id="login"><span class="button-text">Mans profils</span></button>
    </header>
    <div id="pages">
        <a href="/">Sākumlapa</a>
        <span class="pages"><b>></b></span>
        <a href="/profils">Mans Profils</a>
    </div>
    <div id="profile-content">
        <div id="profile">
            <div class="profile-titlebar">
                <h1 id="profile-titlebar-text">Profils</h1>
            </div>
            <div id="informacija-mainit">
                <img class="profile-image" src="../static/images/logo/Group 1.svg">
                <h1 class="profile-box-text">Vārds Uzvārds</h1>
                <h1 class="profile-box-text">E-pasts:</h1>
                <button id="profile-buttons">Admin</button>
                <button id="profile-buttons">Dzēst datus</button>
                <button id="profile-buttons">Lejupielādēt datus</button>
            </div>
        </div>

        <div class="rezervetie-celojumi-padding">
            <div class="reservation-list-titlebar">
                <h1 id="reservation-titlebar-text">Rezervētie ceļojumi</h1>
            </div>
            <div id="rezervetie-celojumi">
                <div class="DivToScroll DivWithScroll">
                    <div id="celojumi">
                        <h1 class="box-text-bold">Galamērķis</h1>
                        <h1 class="reservation-box-text">Maršuts:</h1>
                        <h1 class="reservation-box-text">Vārds Uzvārds Rez.nr.000000000</h1>
                        <h1 class="reservation-box-text">Dienu skaits: 6</h1>
                        <h1 class="box-text-bold">Cena:</h1>
                        <h1 class="reservation-box-text">Izbraukšana:<b>2019-12-20</b></h1>
                        <h1 class="reservation-box-text">Atgriešanās:<b>2019-12-26</b></h1>
                        <button id="atcelt">Atcelt</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>