<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <link rel="Icon" href="static/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Thasadith&display=swap" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <header>
        <img id="logo" src="static/images/png.png" width="90" height="90" />
        <h1 id="title">Travely</h1>
        <h1 id="number">+371 29749980</h1>
        <button id="login"><span class="button-text">Mans profils</span></button>
    </header>
    <div id="pages">
        <a href="/">Sākumlapa</a>
        <span class="pages"><b>></b></span>
        <a href="/profils">Mans Profils</a>
    </div>
    <div id="profile-content">
        <div id="profile">
            <h2 id="informacija">Personīgā informācija</h2>

            <div id="informacija-mainit">
                <div id="personiga-informacija">
                    <h1><span class="box-text">Vārds:</span></h1>
                    <h1><span class="box-text">E-pasts:</span></h1>
                    <h1><span class="box-text">Tel. nr.:</span></h1>
                </div>
                <button id="mainit"><span class="button-text">Mainīt</span></button> 
            </div>
        </div>

        <div>
            <h1 id="rezervet">Rezervētie ceļojumi</h1>
            <div id="rezervetie-celojumi" class="DivToScroll DivWithScroll">
                <div id="celojumi">
                    <div id="celojuma-atcelt">
                        <div id="celojuma-informacija">
                            <h1 class="box-text">Rez nr.:</h1>
                            <h1 class="box-text">Maršuts:</h1>
                            <h1 class="box-text">Izbraukšana:</h1>
                            <h1 class="box-text">Atgriešanās:</h1>
                            <h1 class="box-text">Dienu skaits:</h1>
                            <h1 class="box-text">Cena:</h1>
                        </div>
                        <button id="atcelt"><span class="button-text">Atcelt</span></button> 
                    </div>
                </div>

                <div id="celojumi">
                    <div id="celojuma-atcelt">
                        <div id="celojuma-informacija">
                            <h1 class="box-text">Rez nr.:</h1>
                            <h1 class="box-text">Maršuts:</h1>
                            <h1 class="box-text">Izbraukšana:</h1>
                            <h1 class="box-text">Atgriešanās:</h1>
                            <h1 class="box-text">Dienu skaits:</h1>
                            <h1 class="box-text">Cena:</h1>
                        </div>
                        <button id="atcelt"><span class="button-text">Atcelt</span></button> 
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>